.nav-item-active {
	background-color: #515559;
}
.nav-link-active{
	color: white !important;
}


.footer-img {
	padding-top: 2vh;
	max-width: 100%;
}
.main {
	position: relative;
	min-height: 100vh;
}


table {
	border-collapse: collapse;
	width: 308px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

h3 {
	text-align: center;
}

@media only screen and (max-width: 450px) {
	.picture img, .picture1 img, .picture2 img, .picture3 img, .picture4 img, .picture5 img, .picture6 img, .picture7 img, .picture8 img {
		width: 90vw;
		height: auto;
		padding-top: 10px;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.graf {
		width: 90vw; 
		height: 45vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 450px) {
	.picture img, .picture1 img, .picture2 img, .picture3 img, .picture4 img, .picture5 img, .picture7 img, .picture8 img {
		width: 90vw;
		height: auto;
		padding-top: 10px;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.graf {
		width: 80vw; 
		height: 90vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 700px) and (min-height: 900px){
	.picture img, .picture1 img, .picture2 img, .picture3 img, .picture4 img, .picture5 img,  .picture7 img, .picture8 img {
		width: 90vw;
		height: auto;
		padding-top: 10px;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.graf {
		width: 80vw; 
		height: 40vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 800px) and (min-height: 900px){
	.picture img, .picture1 img, .picture2 img, .picture3 img, .picture4 img, .picture5 img,  .picture7 img, .picture8 img {
		width: 90vw;
		height: auto;
		padding-top: 10px;
		max-width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.graf {
		width: 80vw; 
		height: 30vh;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1000px) {
	.graf {
		width: 50vw; 
		height: 50vh;
		margin-left: auto;
		margin-right: auto;
	}
	.picture img {
	width: 40vw;
	height: auto;
	padding-top: 10px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.picture1 img {
	width: 20vw;
	height: auto;
	padding-top: 10px;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.picture2 img {
	width: 30vw;
	height: auto;
	padding-top: 10px;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.picture3 img {
	width: 15vw;
	height: auto;
	padding-top: 10px;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.picture5 img {
	width: 33.33%;
	height: auto;
	padding-top: 10px;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 5px;
}

.picture6 img {
	width: 50%;
	height: 40%;
	padding-top: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float:right;
	padding: 5px;
}

.picture8 img {
	width: 50%;
	height: auto;
	padding-top: 10px;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 5px;
}
}


