.nav-item-active {
	background-color: #515559;
}
.nav-link-active{
	color: white !important;
}


.footer-img {
	padding-top: 2vh;
	max-width: 100%;
}
.main {
	position: relative;
	min-height: 100vh;
}

.picture img{
	width: 40vw;
	height: auto;
	padding-top: 10px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
