.nav-item-active {
	background-color: #515559;
}
.nav-link-active{
	color: white !important; 
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #343a40;
	color: white;
	text-align: center;
	padding-left: 1vw;
	display: block;
	height: 20vh;
}

.column{
	width: 33%; 
	display: inline-block; 
	float: left;
}

.footer-img {
	padding-top: 2vh;
	height: 20%; 
	width: 20%;
}
.main {
	position: relative;
	min-height: 100vh;
}
.content {
	padding-bottom: 22vh;
}

@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
	footer {
		height: 55vh;
	}
	.content {
		padding-bottom: 57vh;
	}
}
